# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
*.log
ProjectSettings/EditorUserSettings.asset
UserSettings/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.user
*.unityproj
*.booproj
.vs
.vsconfig

# Ignore sln files by default, remove this directive if more advanced setup is required.
*.sln

# Rider misc files
.idea/**/indexLayout.xml
.idea/**/projectSettingsUpdater.xml
.idea/**/vcs.xml
.idea/**/workspace.xml